#text {
    margin-left: 0px;
}

#day {
    margin-left: 0px;
}


#submitTask {
    margin-left: 10%;
    height: 120%;
    font-size: 15px;
    margin-right: 0px;
}

#lastPartDiv {
    height: 2.15rem;
}